#calculadora{
    width: 27rem;
}
#calculadora .card-header{
    background-color: black;
}
#calculadora .card-body{
background-color: rgb(138, 157, 160);
}
#calculadora #display{
    color:white;
    text-align: right;
    font-family: 'Heveltica', 'Arial', sans-serif;
    font-weight: bold;
    font-size:30pt;
}

#calculadora button{
    margin: 5px;
    height: 3em;
}
#calculadora .button-text{
    font-family: 'Heveltica', 'Arial', sans-serif;
    font-weight: bold;
    font-size:16pt;
}